@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Smooch&display=swap');
/*  font lagane ke liye google font se font ko import kake copy karke paste kar diya hai idhar pe aur jo iski family use copy karke jisme jisme aapko lagana ho laga sakte ho */

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.logo {
   width: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 93%;
  border: solid red;
  border-radius: 10%;

}

.dog {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.dog img {
  width: 120%;
  border-radius: 10%;
  text-align: center;
  justify-content: center;
  padding-left: 87vw;
  padding-bottom: 10px;

}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  cursor: pointer;
  padding-left: 1%;

}

.nav-list {
  width: 102%;
  /* isse jo hai width se jo piche area khali rahta hia use cover kr letw hai ho jata isse cover  */
  background-color: black;
  background-size: cover;
  display: flex;
  justify-content: center;
  /* bottom: 100px */


}

.nav-list li {
  list-style: none;
  /* isko aaply karne se  jo bundi bundi ati hai home me content aise me to vo ht jati hai  */
  padding: 35px 70px;
  font-size: 25px;
  /* padding aur font size se jo home aur baki sb ke bech me space diya hai sapce ke liye use kiya hai hai  */

}

.nav-list li a:hover {
  text-decoration: none;
  /*  isko karne se line niche rahti haiht jati hai  home content se aur jitne bhi hai  */
  color: rgb(215, 250, 215);
}
.rightnav {
  /* background-color: black; */
  width: 80%;
  text-align: right;
  padding: 0 20px;
  padding-top: 2%;
  /* padding top se hm jo search wala hai na use beech me laye hai aur jo upper wala padding hai use hm right side se beech me thoda sa laye hai  ye padding na kisi bhii text ko beech me ya left right ke liye use karte hai  */
  justify-content: center;
}

#search {
  padding: 5px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 5px;

}

.background {
  background-image: url(" ../img/hos.webp");
  background-size: cover;
  background-blend-mode: darken;

  /* background me image lagane ke liye iska use karte hsi and this is my first project and  i am very happy  jaise agar image nhi ati hai hai to na ek folder picw jana padta hai jaise idhar pe na first folder css open hai phir second me img ka folder hai to uske liye na hm ../ ka use karte hai jisee hm img ke folder me aa jayenge aur phir  hame apply ki hyi image mil jayegi  */
}

.bc {
  background-image: url(" ../img/bc.jpg");
  background-size: cover;
}

.st {
  background-image: url(" ../img/about.gif");
  background-size: cover;
  height: 550px;

}

.box-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110vh;
  color: white;
  font-style: italic;
  /* font style se jo likha hota hai statment uski style ko change karne ke liye use karte hai  */
  /* height jo idhar lagayi hai vo isli ye hai ki jo backgroung me image lagi hai vo pure ko cover kr le */

}

.firstbox {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
  padding-left: 520px;

}

.secondbox {
  width: 30%;

}

.secondbox img {
  width: 70%;
  border: solid white;
  border-radius: 100px;
  display: block;
  margin: auto;
  text-align: right;
  justify-content: right;

  /* ye jo use kiya hai isse jo image lagi hai style ki gyi hai aur image ko center me lane keliye diplay block ki hai and marign auto ki hai   */

}

.textbig {
  display: flex;
  align-items: center;
  font-size: 90px;
  color: hsla(0, 82%, 15%, 0.884);
  /* font-style: oblique; */
  font-family: 'Dancing Script', cursive;
}

.textsmall {
  font-size: 20px;
  color: rgb(239, 238, 238);

}

.thought {
  color: rgba(217, 202, 200, 0.997);
  font-style: italic;
  font-size: 30px;
}

#name {
  font-size: 20px;
  color: brown;
}

.secright {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 80%;
  margin: auto;
}

.sectag {
  font-style: italic;
  font-size: 50px;
  padding-bottom: 5%;
  color: dark black;
  padding-left: 1%;
}

.double {
  font-style: italic;
  font-size: 50px;
  padding-bottom: 5%;
  color: dark black;
  padding-left: 5%;
}

.shivam {
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  padding-bottom: 5%;
  padding-left: 5%;
}

.as {
  font-style: italic;
  font-size: 50px;
  padding-bottom: 5%;
  color: dark black;
  padding-left: 5%;
}

.an {
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  padding-bottom: 5%;
  padding-left: 5%;
}


.su {
  font-style: italic;
  font-size: 50px;
  padding-bottom: 5%;
  color: dark black;
  padding-left: 4px;
}

.secsubtag {
  font-size: 30px;
  font-family: 'Dancing Script', cursive;
  padding-left: 2%;

}

.shiva {
  font-size: 30px;
  padding-left: 2px;
  font-family: 'dancing script',cursive;
}

.thumb img {
  width: 30vw;
  border-radius: 20%;
  border: solid black;
  padding-top: 5%;
  padding-left: 5%;
}

.section {
  /* height: 400px; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 80%;
  margin: auto;

}

.my {
  padding-top: 10%;
  /* padding-bottom: 5%; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 80%;
  margin: auto;

}

.sec-left {
  flex-direction: row-reverse;
}

.reg {
  height: 1550px;
}

.text-advance {
  text-align: center;
  font-style: italic;
  padding: 30px;
  font-size: 50px;
  padding-left: 20px;

}

.form {
  max-width: 600px;
  margin: 20px auto;


}

.form-input {
  margin: 20px 0;
  padding: 10px 5px;
  padding-top: 5px;
  width: 100%;
  font-size: 15px;
  border: 2px solid black;
  border-radius: 5px;
  font-style: italic;

}

.chotabutton {
  padding: 2px 2px;
  vertical-align: middle;
}

.dark {
  text-align: center;
}

.many {
  font-size: medium;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
}


.d-grid {

  justify-content: center;
  text-align: center;
  font-size: 1.5rem !important;

}

/* footer wli css */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(7, 7, 7);
  /* height: auto; */
  width: 100vw;
  padding-top: 40px;
  color: #fff;


}

.contact {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: rgb(7, 7, 7);

  height: 290px;


}

.contact h3 {
  font-size: 2.1rem;
  font-style: italic;
  font-weight: 500;
  color: #cfd2d6;
  text-transform: capitalize;
  line-height: 3rem;
}

.contact p {

  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;

}


.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;
  border-radius: 50%;
}

.socials a i {
  font-size: 1.1rem;
  width: 20px;
  transition: color .4s ease;
}

.socials a:hover i {
  color: aqua;

}


.footer-bottom {
  padding-top: 50px;
  background: #000;
  width: 100vw;
  padding: 20px;
  padding-bottom: 5px;
  text-align: center;
}

.footer-bottom p {
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom p a {
  color: #44bae8;
  font-size: 16px;
  text-decoration: none;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}


.footer-menu {
  float: right;
}

.footer-menu ul {
  display: flex;
}

.footer-menu ul li {
  padding-right: 10px;
  display: block;
}

.footer-menu ul li a {
  color: #cfd2d6;
  text-decoration: none;
}

.footer-menu ul li a:hover {
  color: #27bcda;
}

/* about price wali css */
.a {
  font-size: 35px;
  padding-top: 20px;
}

.price {
  font-size: 100px;
  text-align: center;
  justify-content: center;
  font-family: 'Dancing Script', cursive;
}

.ab {
  background-color: rgba(27, 33, 139, 0.532);
  padding-left: 20px;
  border: rgb(12, 12, 12);
  border-style: solid;
  border-radius: 2%;
}

.onefirst {
  font-size: 60px;
  font-style: italic;
  font-weight: 500;
  color: #edf0f4;
  text-transform: capitalize;
  line-height: 3rem;

}
.co{
  font-size: 60px;
  font-style: italic;
  font-weight: 500;
  color: #edf0f4;
  text-transform: capitalize;
  line-height: 3rem;
  padding-top: 10px;
}
.book{
  padding-top: 20px;
}

.mitag {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 3px 10px 10px 10px;

}


.submitmsg{
  text-align: center;
  /* justify-content: center;
  color: rgba(54, 98, 195, 0.564); */
  font-size: 20px;
  
}
